[Unit]
Description=Tiny DNS server for IPv6 Reverse DNS
After=network.target

[Service]
ExecStart=/usr/bin/all-knowing-dns

[Install]
WantedBy=multi-user.target
